@font-face {
  font-family: "COCOGOOSE";
  src: url("Assets/Cocogoose.otf");
  src: local("Cocogose.otf"), url("Assets/Cocogoose.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.desktop-navbar {
  display: none;
}

.mobile-navbar {
  position: fixed;
  /* display: flex;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 12vw;
  top: 0.001vw;
  left: 0;
  z-index: 1;  */
}

.hamburger {
  position: relative;
  margin-top: 2vw;
  margin-left: 7vw;
  width: 6vw;
  height: 6vw;
}


/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.about {
  display: flex;
  flex-direction: column;
  background-image:
    linear-gradient(to bottom, rgba(182, 178, 178, 0.8), rgba(238, 231, 232, 0.8)),
    url(Assets/about-me-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 25px;
  width: 100%;
}

.about-title {
  font-family: "COCOGOOSE", sans-serif;
  font-size: 35px;
  font-weight: 800;
  letter-spacing: 0.67px;
  text-transform: uppercase;
  color: #ec5242;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  width: 90%;
  padding-top: 60px;
}

.about-text {
  border: 2px solid #000;
  background: #d3d3d3;
  color: black;
  border-radius: 8px;
  padding: 20px;
  line-height: 1.6;
  width: 80%;
  margin: 25px 0;
}

.decision {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 15px;
}

.venue {
  text-align: center;
  font-size: 16px;
  width: 100%;
  line-height: 1.4;
  color: #000;
}

.conference-ul {
  border: 2px solid #000;
  color: #000;
  padding: 25px;
  margin-bottom: 30px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conference-title {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  margin: 0 auto;
}

.date-and-place {
  font-family: "COCOGOOSE", sans-serif;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  font-size: 13px;
  margin: 10px auto 0;
}

.past-conference {
  margin: 24px;
}

.past-conference-heading {
  color: #272a31;
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.past-conference-text {
  color: #272a31;
  font-size: 15px;
  margin-bottom: 30px;
  text-align: center;
}

.saigon-2018,
.sydney-2019 {
  width: 80%;
  margin: 0 auto;
  height: 200px;
  margin-bottom: 10px;
  background: url(Assets/Past-conference.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 350px;
}

.conference-background-color {
  height: 100%;
  width: 100%;
  background-color: rgba(236, 82, 66, 0.5);
}

.past-conference-image-date {
  font-family: "COCOGOOSE", sans-serif;
  color: #fff;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
}

.past-conference-image-text {
  font-family: "COCOGOOSE", sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

.partners {
  background-color: #5d5d5d;
  width: 100%;
}

.partners-title {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #d3d3d3;
}

.partners-ul {
  display: flex;
}

.partners-list img {
  width: 80%;
  padding-bottom: 45px;
  padding-left: 25px;
}

.copyrights {
  display: none;
}

.copyrights-title {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

.rights-reserved {
  padding-right: 25px;
  text-align: left;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .mobile-navbar {
    display: none;
  }

  .desktop-navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 75px;
    top: 0.001vw;
    left: 0.001vw;
    z-index: 4;
  }

  .top-navbar {
    padding-left: 0.001vw;
    margin: 0.001px;
    background-color: #272a31;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100vw;
    height: 25px;
  }

  .top-navbar-li {
    font-size: 12px;
    margin-right: 1vw;
    margin-top: 5px;
    color: white;
  }

  .facebook-icon {
    width: 12px;
    height: 15px;
  }

  .twitter-icon {
    width: 16px;
    height: 15px;
  }

  .top-navbar-li-end {
    font-size: 12px;
    margin-right: 10vw;
    margin-top: 5px;
    color: white;
  }

  .bottom-navbar {
    margin: 0.001px;
    box-shadow: 0 5px 5px 0 grey;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }

  .logo-title {
    font-size: 24px;
    font-weight: 800;
    color: black;
    display: block;
  }

  .bottom-ul {
    margin-top: 12px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 85vw;
    height: 50px;
    padding: 0.001vw;
  }

  .bottom-navbar-logo {
    font-size: 13px;
    margin-right: 5vw;
  }

  .bottom-navbar-li {
    font-size: 16px;
    margin-right: 5vw;
    margin-top: 17px;
    color: #272a31;
    user-select: none;
  }

  .bottom-navbar-box {
    border: 3px solid red;
    width: 75px;
    height: 27px;
    font-size: 12px;
    margin-right: 5vw;
    margin-top: 11px;
    color: #272a31;
    padding: 8px;
    user-select: none;
    transition: ease-in-out 0.3s;
  }

  .navbar-box-link {
    margin: 0.001px;
    margin-left: 10px;
    width: 75px;
  }

  .bottom-link {
    text-decoration: none;
    color: #272a31;
    transition: ease-in-out 0.3s;
  }

  .item_first_img {
    width: 52px;
  }

  .about {
    padding: 60px 60px;
    align-items: center;
  }

  .about-title {
    margin-top: 60px;
    font-weight: 900;
    font-size: 3.5vw;
    text-align: center;
    width: 90%;
  }

  .about-text {
    font-size: 1.8vw;
    padding: 24px;
    line-height: 1.8;
    width: 95%;
    margin: 40px 0;
  }

  .venue-decision {
    margin: 0 25px;
  }

  .decision {
    font-size: 2.7vw;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .venue {
    font-size: 1.9vw;
    margin-bottom: 25px;
  }

  .conference-ul {
    padding: 30px;
    margin-bottom: 40px;
    margin-left: 60px;
    display: flex;
    width: 89%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .conference-title {
    font-size: 2.2vw;
    font-weight: 800;
  }

  .date-and-place {
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    font-size: 1.3vw;
  }

  .past-conference-heading {
    font-size: 2.2vw;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .past-conference-text {
    color: #272a31;
    font-size: 1.8vw;
    margin-bottom: 30px;
    text-align: center;
  }

  .saigon-2018,
  .sydney-2019 {
    width: 90%;
    margin: 0 auto;
    height: 200px;
    margin-bottom: 10px;
    background: url(Assets/Past-conference.jfif);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .conference-background-color {
    height: 100%;
    width: 100%;
    background-color: rgba(236, 82, 66, 0.5);
  }

  .past-conference-image-date {
    font-family: "COCOGOOSE", sans-serif;
    color: #fff;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
  }

  .past-conference-image-text {
    font-family: "COCOGOOSE", sans-serif;
    color: #fff;
    font-size: 2.2vw;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
  }

  .past-conference-image {
    display: flex;
    max-width: 725px;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
  }

  .partners-title {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #d3d3d3;
    font-size: 2.8vw;
  }

  .copyrights {
    display: flex;
    flex-direction: row;
    margin-top: 1vw;
    width: 90vw;
    height: 15vw;
    padding-top: 6vw;
  }

  .credits-container {
    display: flex;
    flex-direction: column;
  }

  .copyrights-title {
    color: #2d3038;
    font-size: 2.8vw;
    width: 40vw;
  }

  .rights-reserved {
    padding-top: 8px;
    color: #2d3038;
    font-size: 2vw;
  }

  .footer-logo {
    height: 6vw;
    margin-right: 5vw;
    padding-left: 24vw;
  }
}
