@font-face {
  font-family: "COCOGOOSE";
  src: url("Assets/Cocogoose.otf");
  src: local("Cocogose.otf"), url("Assets/Cocogoose.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.desktop-navbar {
  display: none;
}

.mobile-navbar {
  position: fixed;
  /* display: flex;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 12vw;
  top: 0.001vw;
  left: 0;
  z-index: 1; */
}

.hamburger {
  position: relative;
  margin-top: 2vw;
  margin-left: 7vw;
  width: 6vw;
  height: 6vw;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.homepage {
  display: flex;
  flex-direction: column;
  background-image:
    linear-gradient(to bottom, rgba(240, 229, 230, 0.8), rgba(238, 231, 232, 0.8)),
    url(Assets/homepage\ background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 25px;
  width: 100%;
}

.home-greeting {
  font-family: "COCOGOOSE", sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #ec5242;
  margin-top: 45px;
}

.home-title {
  font-family: "COCOGOOSE", sans-serif;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 0.67px;
  text-transform: uppercase;
  color: #ec5242;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  width: 90%;
  margin-top: 20px;
}

.home-text {
  border: 2px solid rgb(115 110 110);
  color: black;
  padding: 20px;
  line-height: 1.6;
  width: 80%;
  margin: 25px 0;
}

.home-date {
  font-family: "COCOGOOSE", sans-serif;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 0.67px;
  text-transform: uppercase;
  color: black;
  width: 80%;
}

.home-venue {
  font-size: 18px;
  font-weight: 400;
  line-height: 2.2;
}

.main-program {
  padding: 40px 25px;
  background-color: #000;
  background-image: url(Assets/pattern.png);
}

.main-program h3 {
  color: #fff;
  text-align: center;
  font-size: 25px;
  margin-bottom: 28px;
}

.program-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.program-lecture {
  background-color: dimgray;
  width: 100%;
  height: 25vh;
  margin-bottom: 25px;
}

.lecture-ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 15px;
}

.lecture-icon {
  content: url("Assets/lecture.png");
  height: 42px;
}

.lecture-title {
  color: #ec5242;
  font-weight: 700;
  font-size: 20px;
}

.lecture-text {
  width: 60%;
  font-size: 15px;
  color: #fff;
  justify-self: center;
  justify-content: center;
}

.book-launch-icon {
  content: url("Assets/lecture.png");
  height: 42px;
}

.forum-icon {
  content: url("Assets/forum.png");
  height: 42px;
}

.workshop-icon {
  content: url("Assets/forum.png");
  height: 42px;
}

.network-icon {
  content: url("Assets/networking.png");
  height: 42px;
}

.program-card {
  background: #ec5242;
  color: #fff;
  font-size: 15px;
  padding: 22px 43px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 86%;
}

.featured-speakers {
  color: rgb(245, 245, 245);
  padding: 50px 24px;
}

.featured-speakers-header {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 20px;
  color: #000;
  font-size: 26px;
}

hr { 
  border: 1px solid #ec5242;
  width: 20%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.featured-speakers-ul {
  display: flex;
  flex-direction: column;
}

.featured-speakers-list {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.featured-speakers-list img {
  width: 144px;
  height: 183px;

  /* margin-top: 30px; */
}

.speaker-container {
  width: 52%;
  margin-left: 25px;

  /* margin-top: 25px; */
}

.speaker-name {
  font-size: 20px;
  line-height: 2;
  color: #000;
  margin-bottom: 12px;
}

.speaker-description {
  color: #ec5242;
  font-size: 16px;
  margin-bottom: 10px;
}

.speaker-text {
  color: #272a31;
  font-weight: 500;
  font-size: 12px;
}

.partners {
  background-color: #5d5d5d;
  width: 100%;
}

.partners-title {
  font-family: "COCOGOOSE", sans-serif;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #d3d3d3;
}

.partners-ul {
  display: flex;
}

.partners-list img {
  width: 80%;
  padding-bottom: 45px;
  padding-left: 25px;
}

.copyrights {
  display: none;
}

@media only screen and (min-width: 768px) {
  .mobile-navbar {
    display: none;
  }

  .desktop-navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 75px;
    top: 0.001vw;
    left: 0.001vw;
    z-index: 4;
  }

  .top-navbar {
    padding-left: 0.001vw;
    margin: 0.001px;
    background-color: #272a31;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100vw;
    height: 25px;
  }

  .top-navbar-li {
    font-size: 12px;
    margin-right: 1vw;
    margin-top: 5px;
    color: white;
  }

  .facebook-icon {
    width: 12px;
    height: 15px;
  }

  .twitter-icon {
    width: 16px;
    height: 15px;
  }

  .top-navbar-li-end {
    font-size: 12px;
    margin-right: 10vw;
    margin-top: 5px;
    color: white;
  }

  .bottom-navbar {
    margin: 0.001px;
    box-shadow: 0 5px 5px 0 grey;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }

  .logo-title {
    font-size: 24px;
    font-weight: 800;
    color: black;
    display: block;
  }

  .bottom-ul {
    margin-top: 12px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 85vw;
    height: 50px;
    padding-right: 60px;
  }

  .bottom-navbar-logo {
    font-size: 13px;    
  }

  .bottom-navbar-li {
    font-size: 16px;
    margin-right: 5vw;
    margin-top: 17px;
    color: #272a31;
    user-select: none;
  }

  .bottom-navbar-box {
    border: 3px solid red;
    width: 75px;
    height: 27px;
    font-size: 12px;
    margin-right: 5vw;
    margin-top: 11px;
    color: #272a31;
    padding: 8px;
    user-select: none;
    transition: ease-in-out 0.3s;
  }

  .navbar-box-link {
    margin: 0.001px;
    margin-left: 10px;
    width: 75px;
  }

  .bottom-link {
    text-decoration: none;
    color: #272a31;
    transition: ease-in-out 0.3s;
  }

  .item_first_img {
    width: 52px;
  }

  .homepage {
    padding: 40px 24px 40px 120px;
  }

  .home-greeting {
    font-size: 3vw;
    font-weight: 400;
    color: #ec5242;
    padding-top: 55px;
  }

  .home-title {
    font-weight: 900;
    font-size: 4.2vw;
  }

  .home-text {
    font-size: 2vw;
    padding: 24px;
    line-height: 1.8;
    width: 95%;
    margin: 40px 0;
  }

  .home-date {
    font-size: 2.7vw;
    font-weight: 800;
    width: 90%;
    margin-top: 24px;
  }

  .home-venue {
    font-size: 2.3vw;
    font-weight: 500;
    line-height: 1.6;
  }

  /* Where we are */
  .main-program {
    padding: 40px 25px;
  }

  .main-program h3 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 28px;
  }

  .program-list,
  .featured-speakers-ul {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 1em;
  }

  .program-lecture {
    height: 17em;
    width: 191px;
  }

  .lecture-ul {
    justify-content: space-between;
    padding: 5px;
    height: 100%;
    align-items: center;
    flex-direction: column;
  }

  .lecture-title {
    font-size: 24px;
  }

  .lecture-text {
    width: 100%;
    font-size: 16px;
    padding: 15px 7px;
  }

  .featured-h3 {
    font-size: 20px;
  }

  .lecture-icon,
  .book-launch-icon,
  .forum-icon,
  .workshop-icon,
  .network-icon {
    height: 52px;
  }

  .program-card {
    display: none;
  }

  .featured-speakers-list {
    width: 320px;
    justify-content: center;
    margin-bottom: 30px;
  }

  .speaker-name {
    font-size: 1.4vw;
  }

  .speaker-description {
    font-size: 1.2vw;
  }

  .speaker-text {
    font-size: 1vw;
  }

  .copyrights {
    display: flex;
    flex-direction: row;
    margin-top: 1vw;
    width: 90vw;
    height: 15vw;
    padding-top: 6vw;
  }

  .credits-container {
    display: flex;
    flex-direction: column;
  }

  .copyrights-title {
    color: #2d3038;
    font-size: 2.5vw;
    width: 40vw;
  }

  .rights-reserved {
    padding-top: 8px;
    color: #2d3038;
    font-size: 1.8vw;
  }

  .footer-logo {
    height: 6vw;
    margin-right: 5vw;
    padding-left: 24vw;
  }
}
